*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(133deg, #4abeb2, #3c57d2);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background: white;
    width: 450px;
    padding: 30px;
    border-radius: 5px;
}

#showImg {}

.showImg img {
    display: none;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 5px;
    min-height: 200px;
    background: #174353;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.button {
    display: flex;
    justify-content: center;
}

button,
.upload {
    width: 220px;
    height: 40px;
    margin: 50px 20px 10px 20px;
    text-align: center;
    position: relative;
    padding: 10px 5px;
    font-size: 17px;
    outline: none;
    color: #fff;
    border: none;
    background-color: #023780;
    border-radius: 5px;
    display: block;
}

.upload {
    background: #a74901;
}